/node_modules
/public/hot
public/images/News/*
public/images/AboutUs/*
public/images/Episodes/*
public/images/Photosessions/*
public/images/Polls/*
public/images/Programmes/*
public/images/Top_Images/*
!public/images/News/.gitkeep
!public/images/AboutUs/.gitkeep
!public/images/Episodes/.gitkeep
!public/images/Photosessions/.gitkeep
!public/images/Polls/.gitkeep
!public/images/Programmes/.gitkeep
!public/images/Top_Images/.gitkeep
/public/storage
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
